/* main elements */

body, div, td {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #666;
}

option {
    z-index: 999;
}

body {
    background-color: #fff;
    text-align: center;
}


.linkIcon {
    cursor: pointer;
}


#header {
    position: absolute;
    left: 400px;
    top: 25px;
    margin-bottom: 1em;
}

#wrapper {
    width: 1300px;
    min-width: 1300px;
    max-width: 1300px;
    margin-right: auto;
    margin-left: auto;

    /* fix max-width incompatibility in IE6 */
    width: expression(document.body.clientWidth > 800? "800px": "auto" );

    overflow: hidden;
    display: block;
}


/* header and footer elements */

#mainWidget {
    position: absolute;
    left: 275px;
    top: 300px;
}

#sideFocusMenu {
    position: absolute;
    left: 50px;
    top: 100px;
    width: 200px;
}

#menuContainer {
    position: absolute;
    float: left;
    left: 300px;
    top: 100px;
    width: 600px;
    margin-right: 15px;
}

#menu a, #menu h2 {
    margin: 0;
    padding: 2px 6px;
}

#menu h2 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
}

#menu a {
    color: #666666;
    /*background: #efefef;*/
    text-decoration: none;
    padding: 2px 12px;
}

#menu a:hover {
    color: #648C1D;
    background: #fff;
}

/*Enhanced Browser Top--*/

.listTopBar {
    display: none;

}

.autoRunContainer {
    padding: 10px;
    width: 150px;
    height: 60px;
    border-radius: 19px;

    -moz-border-radius: 19px;

    -webkit-border-radius: 19px;

    border: 1px solid #00021C;
    background-color: #fff;

}

#enhancedBrowser_topBar {
    position: absolute;;
    width: 350px;
    height: 20px;
    top: 0px;
    left: 300px;
    z-index: 155;
    border: solid 0px;
    padding: 20px;
}

/*--End Enhanced Browser Top--*/

/*Enhanced Browser CSS--*/

#enhancedBrowser_sidebar {
    -moz-border-radius: 15px;
    border-radius: 15px;
    position: absolute;;
    width: 200px;
    height: 550px;
    top: 0px;
    left: 0px;
    z-index: 99;
    border: solid 1px #000;
    padding: 20px;
    background: -moz-linear-gradient(rgb(228, 236, 251) 0%, rgb(255, 255, 255) 100%, rgb(255, 255, 255) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(228, 236, 251)), color-stop(100%, rgb(255, 255, 255)), color-stop(100%, rgb(255, 255, 255)));
}

.enhancedBrowser_sidebarActivator {
    position: absolute;;
    width: 8px;
    height: 550px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    top: 0px;
    left: 0px;
    z-index: 1000;
    background-color: #000;
}

#enhancedBrowser_iframe {
    position: absolute;;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 1;
}



#iframeMain {
    width: 100%;
    height: 100%;
}

#_title_pl_com_rickdane_springmodularizedproject_module_consumabledata_domain_Url_id {
    overflow: hidden;
    width: 210px;
}

#urlDisplayTable {

}

.urlDisplayTable {
    cursor: pointer;
}

.selectList {
    z-index: 999;
}

.selectOption {
    z-index: 999;
}

/*-- End Enhanced Browser CSS*/

/* Menu */

#menuMain {
    position: absolute;
    display: none;
    width: 700px;
    height: 400px;
    top: 45px;
    left: 275px;
    z-index: 225;
    border: solid 1px #000;
    padding: 20px;
    background-color: #fff;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

/*--END Menu */
#footer {
    background: #fff;
    border: none;
    margin-top: 15px;
    border-top: 1px solid #999999;
}

#footer .new {
    float: left;
}

#footer a:link {
    color: #7db223;
}

.quicklinks {
    clear: both;
    padding-bottom: 15px
}

.quicklinks span {
    float: right;
}

table.navigation {
    border: 0px;
}

label {
    width: 100px;
    float: left;
    margin-left: 5px;
    margin-top: 0px;
}

input {
    height: 20px;
}

input, textarea, select {
    border: 1px solid #B3B3B3;
}

input.image {
    border: none;
    height: auto;
    vertical-align: middle;
}

div {
    text-align: left;
}

div .box {
    display: block;
    margin-left: 105px;
}

/* menu elements*/

a.menu, a.menu:link, a.menu:visited {
    display: block;
    width: 150px;
    height: 25px;
}

/* text styles */

h1, h2, h3 {
    font-family: Helvetica, sans-serif;
    color: #003366;
}

h1 {
    font-size: 20px;
    line-height: 26px;
}

h2 {
    font-size: 18px;
    line-height: 20px;
}

h3 {
    font-size: 15px;
    line-height: 21px;
    color: #003366;
}

h4 {
    font-size: 14px;
    line-height: 20px;
}

.errors {
    color: red;
    font-weight: bold;
    display: block;
    margin-left: 105px;
}

a {
    text-decoration: underline;
    font-size: 12px;
}

a img {
    border: 0 none;
    vertical-align: middle;
}

tr:nth-child(odd) {
    background-color: #FFFFFF;
}

tr:nth-child(even) {
    background-color: #EFEFEF;
}

tr:hover{
    background-color:#B2C2D1;
}

a:link {
    color: #7db223;
}

a:hover {
    color: #456314;
}

a:active {
    color: #7db223;
}

a:visited {
    color: #7db223;
}

li {
    padding-top: 5px;
    text-align: left;
}

ul li {
    margin: 0 0 0.25em 0;
    padding: 0;
}

/* table elements */

table {
    background: #EEEEEE;
    margin: 2px 0 0 0;
    border: 1px solid #BBBBBB;
    border-collapse: collapse;
    width: 100%
}

table table {
    margin: -5px 0;
    border: 0px solid #e0e7d3;
    width: 100%;
}

table td, table th {
    padding: 2px;
    border: 1px solid #CCCCCC;
}

table td form {
    text-align: center;
    vertical-align: middle;
    margin: 0px;
}

table th {
    font-size: 0.9em;
    text-align: left;
    font-weight: bold;
    color: #FFF;
    background: #999;
}

table thead {
    font-weight: bold;
    font-style: italic;
    background-color: #B8B8CC;
}

table a:link {
    color: #303030;
}


fieldset {
    background: #B8B8CC;
    padding: 8px;
    padding-bottom: 22px;
    border: none;
    width: 950px;
}

fieldset label {
    width: 70px;
    float: left;
    margin-top: 1.7em;
    margin-left: 20px;
}

fieldset textfield {
    margin: 3px;
    height: 20px;
    background: #e0e7d3;
}

fieldset textarea {
    margin: 3px;
    height: 165px;
    background: #e0e7d3;
}

fieldset input {
    margin: 3px;
    height: 20px;
    background: #e0e7d3;
}

fieldset table {
    width: 100%;
}

fieldset th {
    padding-left: 25px;
}

.table-buttons {
    background-color: #fff;
    border: none;
}

.table-buttons td {
    border: none;
}

.submit input {
    border: 1px solid #BBBBBB;
    color: #777777;
    padding: 2px 7px;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: bold;
    height: 24px;
}

.updated {
    background: #ecf1e5;
    font-size: 11px;
    margin-left: 2px;
    border: 4px solid #ecf1e5;
}

.updated td {
    padding: 2px 8px;
    font-size: 11px;
    color: #888888;
}


[title]:hover:before {
    -moz-border-radius: 15px;
    border-radius: 15px;
    content: attr(title); /* This gives the :before the content from the title attribute of the link */
    position: absolute;
    top:-50px;
    left:0;
    z-index: 5;
    text-decoration: none;
    color: #FFF;
    font-size: 10px;
    padding: 6px 6px 15px 6px;
    line-height: 100%;
    opacity: 1;
    height: 5px;
    width: 100px;
    background: #222 bottom left no-repeat; /* This makes the tooltip a bit prettier. view/download arrow.png*/
}

[title] {
    position:relative;
}

.selectTypeButton{

}

#loadTypeList {
    position: absolute;
    top: 100px;
}

.inlineList {
    height: 40px;
    display: inline;
    -moz-padding-start: 0px;
    -webkit-padding-start: 0px;
    vertical-align: top;
}

.inlineList li{
    position: absolute;
    display: inline;
    list-style-type: none;
    padding-right: 15px;
    vertical-align: top;
}

.absolutePosition{
    position: absolute;
}

#controlsContainer{
    position: absolute;
    top: 172px;
}


#menuLinkHolder {

    background-color: #000;
    color: #fff;
    width: 15px;
    height: 140px;
    z-index: 145;
    position: absolute;
    top: 40px;
    left: 220px;
    font-size:16px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 3px;

    cursor: pointer;

    white-space: pre;           /* CSS 2.0 */
    white-space: pre-wrap;      /* CSS 2.1 */
    white-space: pre-line;      /* CSS 3.0 */
    white-space: -pre-wrap;     /* Opera 4-6 */
    white-space: -o-pre-wrap;   /* Opera 7 */
    white-space: -moz-pre-wrap; /* Mozilla */
    white-space: -hp-pre-wrap;  /* HP Printers */
    word-wrap: break-word;      /* IE 5+ */
}


#overlayDim {
    position: absolute;
    left:0px;
    top:0px;
    display:none;
    z-index: 144;
    opacity:0.6;
    width: 100%;
    height: 100%;
    z-index: 220;

    background: #959595; /* Old browsers */
    background: -moz-linear-gradient(top, #959595 0%, #0d0d0d 46%, #010101 50%, #0a0a0a 53%, #4e4e4e 76%, #383838 87%, #1b1b1b 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#959595), color-stop(46%,#0d0d0d), color-stop(50%,#010101), color-stop(53%,#0a0a0a), color-stop(76%,#4e4e4e), color-stop(87%,#383838), color-stop(100%,#1b1b1b)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #959595 0%,#0d0d0d 46%,#010101 50%,#0a0a0a 53%,#4e4e4e 76%,#383838 87%,#1b1b1b 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #959595 0%,#0d0d0d 46%,#010101 50%,#0a0a0a 53%,#4e4e4e 76%,#383838 87%,#1b1b1b 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #959595 0%,#0d0d0d 46%,#010101 50%,#0a0a0a 53%,#4e4e4e 76%,#383838 87%,#1b1b1b 100%); /* IE10+ */
    background: linear-gradient(top, #959595 0%,#0d0d0d 46%,#010101 50%,#0a0a0a 53%,#4e4e4e 76%,#383838 87%,#1b1b1b 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#959595', endColorstr='#1b1b1b',GradientType=0 ); /* IE6-9 */
}


